#luckayla_overlay {
	display: inline-flex;
	position: top;
	margin: 8px auto;

	text-align: center;

	pointer-events: all;
}

#luckayla_overlay > div {
	display: inline-flex;
	height: 55px;
	padding: 8px;

	justify-content: space-between;

	background-color: #000000BF;
	box-shadow: 0px 0px 20px #00000080;
	border-radius: 8px;

	font-size: 23px;
	font-weight: bold;
}

#luckayla_overlay > div > span {
	display: none;
	margin-left: 4px;
	margin-right: 4px;
	padding: 4px;

	color: #FFFFFFFF;
	background-color: #51236C80;
	border: 2px solid #A967CE;
	box-shadow: 0px 0px 10px #00000080;
	border-radius: 8px;
}
