#luckayla_overlay {
	position: absolute;
	background-color: rgba(0,0,0,0.75);
	box-shadow: 0 0 0.2em rgba(0,0,0,0.1), 0 0.4em 1.6em rgba(0,0,0,0.2);
	border-radius: 0.4em;
	overflow: hidden;
	pointer-events: all;
	transition: background-color 0.1s ease-out, opacity 0.2s ease-out;
}
#luckayla_overlay.dragging {
	background-color: rgba(0,0,0,0.75);
}

#luckayla_overlay > div {
	display: inline-flex;
	justify-content: space-between;
	font-size: x-large;
	font-weight: bold;
}

#luckayla_overlay > div > span {
	padding: 8px;
}

#luckayla_overlay > div > div {
	padding: 8px;
	color: #A967CE;
}
